<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agayon Bot</title>
</head>
<body>

<h2>{{ parameters }}</h2>

<form action="/">
  <button type="submit">Go back</button>
</form>


</body>
</html>